# name = Nombre descriptivo que aparecera en github del workflow
name: flake8 Lint

# Controla cuando el workflow va a correr
on:
  # Eventos de dispara la acción
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # Id del job (opcional) en este caso "build"
  build:
    # Maquina donde corre job, se recomienta ubuntu-latest (ubuntu ultima version)
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Checking coding styling # Imprime un mensaje

      # Runs a set of commands using the runners shell
      # Ejemplo para mostrar que se puede ejecutar múltiples comandos en un solo paso
      # run: | → permite ejecutar múltiples comandos en el mismo paso.
      - name: Run a multi-line script
        run: |
          echo Command 1
          echo Command 2

      # Flake8 Lint steps    
      # Paso para clonar el repositorio en el runner
      # actions/checkout@v4.2.2 → acción oficial de GitHub que clona tu repositorio 
      #dentro del runner.
      # Sin este paso, los archivos de tu proyecto no estarían disponibles para 
      #los siguientes pasos.
      - name: Check out source repository
        uses: actions/checkout@v4.2.2

      # Paso para instalar y configurar Python
      - name: Set up Python environment
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      # Paso que ejecuta flake8 para revisar estilo y errores en el código
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
            ignore: "F401" # F401: Ignora errores de importaciones no usadas
            exclude: "app/__init__.py" # Excluye este archivo de la revisión
            max-line-length: "80" # Permite líneas de hasta N caracteres
            path: "src" # Carpeta donde flake8 revisará el código