# 
name: Pytest Operaciones

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ factorial , potencia]
  pull_request:
    branches: [ factorial , potencia ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains two jobs
  pytest:
    #needs: flake8-lint # Depends on previous job
    # The type of runner that the job will run on
    runs-on: ubuntu-latest 
    timeout-minutes: 10
    name: Pytest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest
        if [ -f ejemplo/requirements.txt ]; then pip install -r ejemplo/requirements.txt; fi
    
    - name: Test with pytest
      run: |
        pytest -v
        